    .document-page {
      background-color: transparent;
    }

      .actions-cell {
       text-align: center;
       vertical-align: middle;
     }



    .error-text {
      color: var(--danger-color);
      font-size: 0.75rem;
      margin-top: 4px;
      display: block;
    }



    .mt-4 {
      margin-top: 24px;
    }

    .py-5 {
      padding: 48px 0;
    }

    #docx-container {
      width: 100%;
      height: 100%;
      
      ::ng-deep .docx-wrapper {
        background: transparent !important;
        padding: 0 !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
      }

      ::ng-deep article.docx {
        margin: 0 auto !important;
        box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.05), 0 8px 10px -6px rgba(0, 0, 0, 0.05) !important;
        border: 1px solid #e2e8f0 !important;
        border-radius: 8px !important;
        background: white !important;
      }
    }
  
